* { box-sizing: border-box; }

body { background-color: lightgray; margin: 1rem; display: flex; flex-direction: column; align-items: center; gap: 1rem; text-align: center; }
header { font-size: 0.8rem; }
header > h1 { font-size: 2rem; margin: 0 0 0.5rem; }
header > .subtitle { margin-bottom: 1rem; }
header > p { margin: 0; }

main { width: 100%; display: flex; flex-direction: column; align-items: center; gap: 1rem; }
canvas { margin: 0 auto; border: 0.5rem ridge; background-color: darkgray; box-sizing: content-box; width: 8rem; height: 8rem; object-fit: scale-down; cursor: zoom-in; image-rendering: crisp-edges; }
canvas.expanded { width: auto; height: auto; min-width: 1rem; min-height: 1rem; max-width: min(calc(100vw - 3rem), var(--canvas-width)); max-height: min(calc(100vh - 3rem), var(--canvas-height)); }
canvas.expanded2 { cursor: zoom-out; width: auto; height: auto; min-width: 1rem; min-height: 1rem;  max-width: var(--canvas-width); max-height: var(--canvas-height); }
form { margin-bottom: 0.25rem; }
table { text-align: left; }
td { border: 0.2rem groove; padding: 0.25rem 0.5rem; }
.note, .comment { color: green; }
input[type=file] { width: 12rem; }
input[type=number] { width: 4rem; }
select { padding: 0.125rem; }
.comment { font-size: 0.8rem; }
.comment.hidden { display: none; }
.hint { font-style: italic; opacity: 0.5; }
.buttons { display: flex; justify-content: center; gap: 0.25rem; }
button { width: 0; flex: 1; padding: 0.25rem; }

#message { font-size: 0.8rem; color: blue; width: 28rem; text-align: left; white-space: pre-wrap; }

footer { font-size: 0.8rem; }
footer > p { margin: 0; }

@media (prefers-color-scheme: dark) {
	body, canvas { background-color: transparent; }
	table, canvas { border: 1px solid #404250; border-radius: 0.25rem; }
	table, td { padding: 0.375rem; }
	table { border-spacing: 0; }
	td { border: none; padding: 0.375rem; font-size: 0.875rem; }
	.buttons { gap: 0.75rem }

	.note, .comment { color: mediumspringgreen; }
	#message { color: deepskyblue; }
}
